body {
  font-family: "Josefin Sans";
  text-align: center;
  width: 375px;
  height: 800px;
  mix-blend-mode: normal;
  background: linear-gradient(150.03deg, #ffffff 0%, #fff4f4 84.51%);
}
.desktopimg{
    display: none;
}
.desktoplogo{
    display: none;
}
.logo {
  width: 100px;
  height: 20px;
  margin: 32px;
  display: flex;
  align-items: flex-start;
}
h1 {
  color: #ce9898;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 60px 32px 0px 32px;
}
span {
  color: #423a3a;
  font-weight: 600;
}
p {
  color: #ce9898;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 16px 32px;
}
.email input {
  height: 48px;
  width: 311px;
  border-radius: 28px;
  border: 1px solid #ce9898;  position: relative;
}
.email input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #ce9898;
  padding: 0px 0px 0px 20px;
}
.arrow {
    position: absolute;
  padding:17px 28px ;
  border-radius: 28px;
  mix-blend-mode: normal;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
 margin: -2px -62px;
 
}
.email{
 margin: 32px 0px;
}
@media screen and (min-width: 600px) {
    body{
        background-image: url(images/bg-pattern-desktop.svg);
        background-size:100%; 
          overflow-y: hidden;
          overflow-x: hidden; 
         
        
    }
    .all{
        display: flex;
     }
     .conteiner{
        display: flex;
        flex-direction: column;
        margin: 100px  500px 0px 100px ;
       
     }
    .desktopimg{
        display:block;
        height: 100vh;
    }
    .mobile{
        display: none;
    }
    .desktoplogo{
        display: block;
        width: 158px;
        height: 33px;
        margin: 0 0 140px 0 ;
    }
    h1{
        font-size: 65px;
        height: 64px;
       width: 444px;
       text-align: left;
    }
    p{
        text-align: left;
       margin: 150px 0px; 
    }
    .email input{
        height: 56px;
width: 445px;
    }
    .arrow{
        height: 28px;
width: 30px;
border-radius: 28px;
margin: -0 -40px;

    }
}